<!DOCTYPE html>
<html lang="{{ or site.Language.LanguageCode site.Language.Lang }}"
  dir="{{ or site.Language.LanguageDirection `ltr` }}">

<head>
  {{ partial "head.html" . }}
</head>

<body class="bg-gradient-to-r from-slate-900 to-slate-800 font-mono text-white">

	<img src="WXAPOSTER.png">
  <div class="container mx-auto flex flex-col px-4 xl:w-8/12 sm:max-w-full">
  {{ block "main" . }}{{ end }}
  </div>
</body>
<p> &nbsp; </p>
<p style="font-size:75%"><em> &nbsp; HOW FAR WILL WILDER AND AURORA MAKE IT???</em></p>
<p style="font-size:75%"><em> &nbsp; WILL WORLD PEACEBRAIN MINDEYE V1 EVEN TAKE AT ALL?</em></p>
<p> &nbsp; </p>
<p> &nbsp; </p>
<p> &nbsp; </p>
<p> &nbsp; </p>
<p> &nbsp; </p>
<p> &nbsp; </p>
<p> &nbsp; </p>

<p style="font-size:110%"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;CLICK X TO EMBARK ON</p>
<p style="font-size:700%; color:darkmagenta"> <a href="https://apx.wilder.wp.computer">&nbsp;&nbsp;&nbsp;×</a></p>
<p style="font-size:110%"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;A CHOOSE OUR OWN ADVENTURE</p>
<p> &nbsp; </p>
<p> &nbsp; </p>
<p> &nbsp; </p>
<p> &nbsp; </p>
<p> &nbsp; </p>
<p> &nbsp; </p>
<p> &nbsp; </p>
<p style="font-size:75%"><em> &nbsp; And I certainly admit, this poster got super dramatic.</em> </p>
<p> &nbsp; </p>
<p> &nbsp; </p>
</html>
