<!DOCTYPE html>
<html lang="{{ or site.Language.LanguageCode site.Language.Lang }}"
  dir="{{ or site.Language.LanguageDirection `ltr` }}">

<head>
  {{ partial "head.html" . }}
</head>

<body class="bg-gradient-to-r from-slate-900 to-slate-800 font-mono text-white">

	<img src="TWAposter1.jpg">
	<img src="TWAposter2.jpg">
  <div class="container mx-auto flex flex-col px-4 xl:w-8/12 sm:max-w-full">
  {{ block "main" . }}{{ end }}
  </div>
</body>
<p> &nbsp; </p>
<p style="font-size:75%"><em> &nbsp; HOW FAR WILL WILDER, AURORA, AND THEIR WILD THING FRIENDS AND FAMILY MAKE IT???</em></p>
<p style="font-size:75%"><em> &nbsp; WILL THE WORLD PEACEBRAIN MINDEYE 1ST-GEN EVEN TAKE AT ALL?</em></p>
<p> &nbsp; </p>
<p> &nbsp; </p>
<p> &nbsp; </p>

<p style="font-size:75%"><em> &nbsp; FIND OUT FOR YOURSELF...</em></p>
<p style="font-size:75%"><em> &nbsp; IN AN ALL NEW SEASON OF</em></p>
<p style="font-size:75%"> &nbsp; THE WILDER-NESS ADVENTURES!</p>
<p> &nbsp; </p>
<p> &nbsp; </p>
<p> &nbsp; </p>

<p style="font-size:110%"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;...CLICK X TO EMBARK ON</p>
<p style="font-size:2000%; color:#FC02B0"> <a href="https://apx.wilder.wp.computer">&nbsp;×</a></p>
<p style="font-size:110%"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;A CHOOSE OUR OWN ADVENTURE INTO THE WILDER-NESS.</p>
<p> &nbsp; </p>
<p> &nbsp; </p>
<p> &nbsp; </p>
<p> &nbsp; </p>
<p> &nbsp; </p>
<p> &nbsp; </p>
<p> &nbsp; </p>
<p style="font-size:75%"><em> &nbsp; And I certainly admit, this poster a tad extra.</em> </p>
<p> &nbsp; </p>
<p> &nbsp; </p>
</html>
