<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="{{ .Description }}">
<!-- Geo tags -->
<meta name="ICBM" content="19.0760, 72.8777">
<meta name="geo.position" content="19.0760;72.8777">
<meta name="geo.region" content="IN-MH">
<meta name="geo.placename" content="Mumbai">
<style>
code {
  font-family: Consolas,"courier new";
  color: cyan;
  background-color: #eeeeee;
  padding: 2px;
  font-size: 100%;
}
</style>
<title>{{ if .IsHome }}{{ site.Title }}{{ else }}{{ printf "%s | %s" .Title site.Title }}{{ end }}</title>
<p> &nbsp; </p>
<p> &nbsp; </p>
<p style="font-size:75%"> <em>&nbsp; Here lies functional, conceptual peace art...</em></p>
<p style="font-size:75%"> <em>&nbsp; ...a vehicle for invention, physics, engineering, else...</em></p>
<p style="font-size:75%"> <em>&nbsp; ...toward a particular brand of computational peace.</em></p>
<p> &nbsp; </p>
<p> &nbsp; </p>
<p> &nbsp; </p>
<p> &nbsp; </p>
<p style="font-size:75%"> <em>&nbsp; Presenting, a new kind of entertainment experience...</em></p>
<p> &nbsp; </p>
<code>
<p style="font-size:150%"> &nbsp;&nbsp; 𝜔×𝛼: ⦧𝘖‑𝘖$ ⌖☮</p>
</code>
<p> &nbsp; </p>
<p> &nbsp; </p>
<p> &nbsp; </p>
<p> &nbsp; </p>
<p> &nbsp; </p>
<p> &nbsp; </p>
{{ partialCached "head/css.html" . }}
