<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="{{ .Description }}">
<!-- Geo tags -->
<meta name="ICBM" content="19.0760, 72.8777">
<meta name="geo.position" content="19.0760;72.8777">
<meta name="geo.region" content="IN-MH">
<meta name="geo.placename" content="Mumbai">
<title>{{ if .IsHome }}{{ site.Title }}{{ else }}{{ printf "%s | %s" .Title site.Title }}{{ end }}</title>
<p style="font-size:80%"> Here be, functional conceptual peace art, a vehicle for</p>
<p style="font-size:80%"> (...invention, physics, engineering, else...) </p>
<p style="font-size:80%"> enderprise venture promo, network, funding, collab efforts.</p>
<p> &nbsp; </p>
<p> &nbsp; </p>
<p> &nbsp; </p>
<p> &nbsp; </p>
<p> &nbsp; </p>
<p> &nbsp; </p>
<p> &nbsp; ...wholesome new experience, for you! Enjoy. &nbsp; :| ;)</p>
<p> &nbsp; </p>
<p style="font-size:200%"> &nbsp;  &nbsp; ⦧𝘖‑𝘖 ⌖ ☮ </p>
<p> &nbsp; </p>
<p> &nbsp; </p>
<p> &nbsp; </p>
<p> &nbsp; </p>
<p> &nbsp; </p>
<p> &nbsp; </p>
{{ partialCached "head/css.html" . }}
